<div class="login-form-wrapper" [ngStyle]="{'margin-top' : auth.errorMessages ? '1.5rem' : '3rem' }">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="validation-error-messages">
      <p class="mb-4">{{auth.errorMessages}}</p>
    </div>
    <div class="form-group">
      <fa-icon [icon]="faEmail"></fa-icon>
      <label for="login-email">E-mail</label>
      <div class="input-container">
        <input type="email" class="form-control" id="login-email" formControlName="email">
      </div>
      <p *ngIf="loginForm.get('email').touched && !loginForm.get('email').valid" class="errorMessage">
        The email you entered is not valid.</p>
    </div>
    <div class="form-group">
      <fa-icon [icon]="faPassword"></fa-icon>
      <label for="login-password">Password</label>
      <div class="input-container d-flex">
        <input [type]="isPasswordShown ? 'text' : 'password'" class="form-control" id="login-password"
               formControlName="password">
        <fa-icon *ngIf="!isPasswordShown" class="faEye" [icon]="faEye" (click)="showPassword()"></fa-icon>
        <fa-icon *ngIf="isPasswordShown" class="faEye" [icon]="faEyeCrossed" (click)="showPassword()"></fa-icon>
      </div>
      <p *ngIf="loginForm.get('password').touched && !loginForm.get('password').valid" class="errorMessage">
        The password you entered is not valid.</p>
    </div>
    <div class="forgotten-password-wrapper d-flex justify-content-end my-4">
      <a class="btn-link" [routerLink]="['/auth/forgotten-password']">Forgot Password?</a>
    </div>
    <div class="confirmation-button-wrapper d-flex justify-content-center">
      <button type="submit" class="btn w-100" [disabled]="!loginForm.valid">Log Me In!</button>
    </div>
  </form>
</div>
