@import "../../../../assets/styles/variables.scss";

.register-form-wrapper {

  .form-group {
    &:first-child {
      margin-bottom: 3rem;
    }

    fa-icon {
      color: #004643;
      margin-right: .5rem;
    }

    label {
      color: #004643;
    }

    .errorMessage {
      color: #f69709;
      margin-top: 0.5rem;
      font-size: 0.7rem;
    }
  }

  .input-container {
    position: relative;

    input {
     @include input-dark;
    }

    .faEye {
      position: absolute;
      right: 0;
      font-size: 1.5rem;
      color: #abd1c6;
      animation: ease-in-out;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.confirmation-button-wrapper {
  button {
    @include button-default;
    opacity: 1;
  }
}




