@import "../../../assets/styles/variables.scss";

.account-container {
  background-image: url("../../../assets/images/lake-login.jpg");
  background-size: cover;
  background-position: center;

  .account-panel-wrapper {
    min-width: 26rem;
    background-color: #fff;
    padding: 2rem 4rem 2rem;
    opacity: 0.9;

    .account-title {
      color: $color-green-dark;
    }

    .account-form-wrapper {
      .form-group {
        &:first-child {
          margin-bottom: 3rem;
        }

        fa-icon {
          color: $color-green-dark;
          margin-right: 0.5rem;
        }

        label {
          color: $color-green-dark;
        }

        .errorMessage {
          color: $color-orange-dark;
          margin-top: 0.5rem;
          font-size: 0.9rem;
        }
      }

      .input-container {
        position: relative;

        input {
          @include input-dark;
        }

        .faEye {
          position: absolute;
          right: 0;
          font-size: 1.5rem;
          color: $color-green-light;
          animation: ease-in-out;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .redirect-options {
        .btn-link {
          font-size: 0.9rem;
          text-decoration: none;
          color: $color-green-dark;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .confirmation-button-wrapper {
      button {
        @include button-default;
        opacity: 1;
      }
    }

    .forgotten-password-wrapper {
      .reset-password-content {
        h3,
        label {
          color: $color-offblack;
        }

        input {
          @include input-dark;
        }
      }

      .confirmation-buttons {
        .btn-redirect {
          @include button-outline;
          opacity: 1;
        }

        .btn-reset {
          @include button-default;
          opacity: 1;
        }
      }
    }
  }
}

.validation-error-messages {
  p {
    color: $color-orange-dark;
    font-size: 1rem;
    // line-height: 1.5;
  }
}
