<div class="account-container container-fluid">
  <div
    class="account-content-wrapper row justify-content-center align-items-center"
  >
    <div class="account-panel-wrapper col-3">
      <h4 class="account-title d-flex">{{ accountMode }}</h4>
      <div
        class="account-form-wrapper"
        *ngIf="mode === modeEnum.Login || mode === modeEnum.Register"
      >
        <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
          <div class="validation-error-messages">
            <p class="mb-4">{{ auth.errorMessages }}</p>
          </div>
          <div class="form-group">
            <fa-icon [icon]="faEmail"></fa-icon>
            <label for="login-email">E-mail</label>
            <div class="input-container">
              <input
                type="email"
                class="form-control"
                id="login-email"
                formControlName="email"
              />
            </div>
            <p
              *ngIf="
                accountForm.get('email').touched &&
                !accountForm.get('email').valid
              "
              class="errorMessage"
            >
              The email you entered is not valid.
            </p>
          </div>
          <div class="form-group">
            <fa-icon [icon]="faPassword"></fa-icon>
            <label for="password">Password</label>
            <div class="input-container d-flex">
              <input
                [type]="isPasswordShown ? 'text' : 'password'"
                class="form-control"
                id="password"
                formControlName="password"
              />
              <fa-icon
                *ngIf="!isPasswordShown"
                class="faEye"
                [icon]="faEye"
                (click)="showPassword()"
              ></fa-icon>
              <fa-icon
                *ngIf="isPasswordShown"
                class="faEye"
                [icon]="faEyeCrossed"
                (click)="showPassword()"
              ></fa-icon>
            </div>
            <p
              *ngIf="
                accountForm.get('password').touched &&
                !accountForm.get('password').valid
              "
              class="errorMessage"
            >
              The password you entered is not valid.
            </p>
          </div>
          <div
            class="redirect-options d-flex flex-column align-items-end my-4"
            *ngIf="mode === modeEnum.Login"
          >
            <a
              class="btn-link mb-2"
              (click)="router.navigate(['/account/forgotten-password'])"
              >Forgot Password?</a
            >
            <a class="btn-link" (click)="router.navigate(['/account/register'])"
              >Don't have an account yet?</a
            >
          </div>
          <div
            class="redirect-options d-flex justify-content-end my-4"
            *ngIf="mode === modeEnum.Register"
          >
            <a class="btn-link" (click)="router.navigate(['/account/login'])"
              >Back to Login?</a
            >
          </div>
          <div
            class="confirmation-button-wrapper d-flex justify-content-center"
          >
            <button
              type="submit"
              class="btn w-100"
              [disabled]="!accountForm.valid"
            >
              {{ accountMode }}
            </button>
          </div>
        </form>
      </div>

      <div
        class="forgotten-password-wrapper"
        *ngIf="mode === modeEnum.ForgotPassword"
      >
        <div class="reset-password-content">
          <div class="validation-error-messages">
            <p class="mb-4">{{ auth.errorMessages }}</p>
          </div>
          <div
            class="form-group mb-5"
            [ngStyle]="{ 'margin-top': auth.errorMessages ? '1.5rem' : '3rem' }"
          >
            <label for="resetEmail"
              >Please, enter your email address to request a new
              password.</label
            >
            <input
              type="email"
              id="resetEmail"
              class="form-control mt-4"
              placeholder="Email Address"
              [(ngModel)]="resetEmail"
            />
          </div>
        </div>

        <div class="confirmation-buttons d-flex justify-content-between">
          <button
            type="button"
            class="btn-redirect btn btn-outline-light"
            [routerLink]="['/account/login']"
          >
            Go back to Log In
          </button>
          <button
            type="submit"
            class="btn-reset btn btn-light"
            value="Reset Password"
            (click)="resetPassword(resetEmail)"
          >
            Reset Password
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
