@import "../../../assets/styles/variables.scss";

.account-container {
  background-image: url("../../../assets/images/lake-login.jpg");
  background-size: cover;
  background-position: center;

  .account-panel-wrapper {
    min-width: 26rem;
    background-color: white;
    padding: 2rem 4rem 2rem;
    opacity: .9;

    .account-title {
      color: #004643;
    }

    .account-form-wrapper {
      .form-group {
        &:first-child {
          margin-bottom: 3rem;
        }

        fa-icon {
          color: #004643;
          margin-right: .5rem;
        }

        label {
          color: #004643;
        }

        .errorMessage {
          color: #f69709;
          margin-top: 0.5rem;
          font-size: 0.7rem;
        }
      }

      .input-container {
        position: relative;

        input {
          @include input-dark;
        }

        .faEye {
          position: absolute;
          right: 0;
          font-size: 1.5rem;
          color: #abd1c6;
          animation: ease-in-out;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .redirect-options {
        .btn-link {
          font-size: .9rem;
          text-decoration: none;
          color: #004643;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .confirmation-button-wrapper {
      button {
        @include button-default;
        opacity: 1;
      }
    }

    .forgotten-password-wrapper {
      .reset-password-content {
        h3, label {
          color: #001e1d;
        }

        input {
          @include input-dark;
        }
      }

      .confirmation-buttons {
        .btn-redirect {
          @include button-outline;
          opacity: 1;
        }

        .btn-reset {
          @include button-default;
          opacity: 1;
        }
      }
    }

  }
}

.validation-error-messages {
  p {
    color: #f69709;
    font-size: .9rem;
    line-height: 1.5;
  }
}
