<div class="forgotten-password-wrapper">
  <div class="reset-password-content">
    <h3>Reset Password</h3>
    <div class="form-group my-5">
      <label for="resetEmail">Please, enter your email address to request a new password.</label>
      <input type="email" id="resetEmail" class="form-control mt-4" placeholder="Email Address" [(ngModel)]="resetEmail">
    </div>
  </div>

  <div class="confirmation-buttons d-flex justify-content-between">
    <button type="submit" class="reset-password-btn btn btn-warning" value="Reset Password" (click)="resetPassword(resetEmail)">Reset Password</button>
    <button type="button" class="redirect-to-login-btn btn btn-warning" [routerLink]="['/login-register/login']">Go back to the Log In page</button>
  </div>
</div>
