<div class="forgotten-password-wrapper">
  <div class="reset-password-content">
    <h3>Reset Password</h3>
    <div class="form-group my-5">
      <label for="resetEmail">Please, enter your email address to request a new password.</label>
      <input type="email" id="resetEmail" class="form-control mt-4" placeholder="Email Address" [(ngModel)]="resetEmail">
    </div>
  </div>

  <div class="confirmation-buttons d-flex justify-content-between">
    <button type="button" class="btn-redirect btn btn-outline-light" [routerLink]="['/auth/login']">Go back to Log In</button>
    <button type="submit" class="btn-reset btn btn-light" value="Reset Password" (click)="resetPassword(resetEmail)">Reset Password</button>
  </div>
</div>
