.forgotten-password-wrapper {
  .reset-password-content {
    h3 {
      color: chocolate;
    }
  }

  .confirmation-buttons {
    button {
      background-color: chocolate;
      color: white;
    }
  }
}
