@import "../../../assets/styles/variables.scss";

.gapfill-content-wrapper,
.preview-gapfill {
  @include respond(tab-port) {
    flex-direction: column;
  }
  input {
    @include input-light;
    width: 5ch;
  }

  .practice-wrapper {
    @include sentence-font;
    .sentence-row {
      .sentence-id {
        width: 0.75rem;
      }
    }
    .buttons-wrapper {
      .btn-reset {
        @include button-outline;
      }

      .btn-check,
      .btn-solutions {
        @include button-default;
      }
    }
  }

  .solutions-wrapper {
    @include sentence-font;

    @include respond(tab-port) {
      margin-top: 3rem;
    }

    .sentence-row {
      .sentence-id {
        width: 0.75rem;
        padding: 0;
      }
    }
  }
}
.preview-gapfill {
  .errorInputValue {
    .ng-invalid {
      border: #f69709 1px;
      border-style: none none solid none;
      border-radius: 0;
      background-color: transparent;
      color: #f69709;
    }

    .ng-valid {
      border-radius: 0;
      border: 0;
      background-color: transparent;
      color: #abd1c6;
    }
  }
}

.errorInputValue {
  .ng-invalid {
    border: #f69709 1px;
    border-style: none none solid none;
    border-radius: 0;
    background-color: transparent;
    color: #f69709;
  }

  .ng-valid {
    border-radius: 0;
    border: 0;
    background-color: transparent;
    color: #abd1c6;
  }
}
