.blank-word {

  border: #333 2px;
  border-style: none none solid none;
  border-radius: 0;
  background-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.solutions-wrapper {
  .sentence-row {
    height: 2rem;
  }
}
