<div class="gapfill-content-wrapper d-flex row">
  <div class="practice-wrapper col">
    <form [formGroup]="gapfillForm" (ngSubmit)="onSubmit()">
      <div
        class="form-group"
        formArrayName="gapfills"
        *ngFor="let gap of gapfillDoc.gapfills; let i = index"
      >
        <div class="sentence-row row mb-4">
          <div class="col d-flex align-items-center" [formArrayName]="i">
            <p class="sentence-id mb-0">{{ i + 1 }}</p>
            <div
              [ngSwitch]="sentence.type"
              *ngFor="let sentence of gap.sentence; let j = index"
              [ngClass]="{ errorInputValue: isReadyForValidation }"
            >
              <div *ngSwitchCase="'T'">
                <p class="sentence-text ml-2 mb-0">{{ sentence.value }}</p>
              </div>

              <div *ngSwitchCase="'B'">
                <input
                  class="blank-word form-control form-control-sm ml-3"
                  type="text"
                  [value]="null"
                  [formControlName]="j"
                  (input)="resizeInputLength($event)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons-wrapper mt-5 pt-3">
        <button
          class="btn-reset btn btn-outline-light mr-3"
          type="button"
          (click)="onReset()"
        >
          Reset
        </button>
        <button
          class="btn-check btn btn-light mr-3"
          type="submit"
          [disabled]="!hasInputValue"
        >
          Check
        </button>
        <button
          class="btn-solutions btn btn-light ml-auto"
          type="button"
          (click)="toggleSolutionDisplay()"
          *ngIf="isReadyForValidation"
        >
          {{ solutionButtonValue }}
        </button>
      </div>
    </form>
  </div>

  <div class="solutions-wrapper col" *ngIf="isSolutionShown">
    <div
      class="sentence-row row mb-4"
      *ngFor="let data of gapfillDoc.gapfills; let i = index"
    >
      <div class="col d-flex align-items-center">
        <p class="sentence-id">{{ i + 1 }}.</p>
        <p class="sentence-text ml-4">{{ getSentenceParts(data) }}</p>
      </div>
    </div>
  </div>
</div>
