rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
       allow write, read: if request.auth != null;
    }

    match /{document=**} {
      allow read: if getRole('subscriber') == true;
      allow write: if getRole('admin') == true;
    }
    function getRole(role) {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)) != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role[role]
    }
  }
}
