<footer>
  <div
    class="footer-wrapper container-fluid d-flex justify-content-between py-4"
  >
    <a
      class="memrise-link d-flex align-items-center"
      href="https://www.memrise.com/home/"
      target="_blank"
    >
      <fa-icon [icon]="faGlobe"></fa-icon>
      <p class="footer-text">Memrise</p>
    </a>
    <a
      class="pons-link d-flex align-items-center"
      href="https://en.pons.com/translate"
      target="_blank"
    >
      <fa-icon [icon]="faLanguage"></fa-icon>
      <p class="footer-text">Pons</p>
    </a>
    <a
      class="keyboard-link d-flex align-items-center footer-link"
      href="https://gate2home.com/Slovenian-Keyboard"
      target="_blank"
    >
      <fa-icon [icon]="faKeyboard"></fa-icon>
      <p class="footer-text">Slovenian Keyboard</p>
    </a>
  </div>
</footer>
