.header-wrapper {
  background-color: #004643;


  .navbar {
    padding: 0 9rem;

    .navbar-toggler {
      background-color: #fffffe;

      fa-icon {
        color: #004643;
        font-size: 1.5rem;
      }
    }
  }
}

h1 {
  cursor: pointer;

  &:hover {
    color: #abd1c6;
  }
}

.nav-item {
  .nav-link {
    &:hover {
      cursor: pointer;
    }
  }
}

.nav-item:not(:last-of-type) {

}

.login-register-wrapper {
  .btn-logout {

    &:hover {
      cursor: pointer;
    }
  }
}





