<div class="d-flex">
  <div class="container-fluid home-content-wrapper">
    <div class="hero-text-wrapper d-flex align-items-center flex-column">
      <h1 class="mb-4">Welcome!</h1>
      <h2 class="hero-text-description">
        sloSite is a learning hub for all who would like to begin, rediscover or
        just wander the journey of Slovene language. sloSite pairs Slovene with
        English to describe and explain the inner workings of this lovely
        language and is completely free to use. Pick a category and have fun!
      </h2>
    </div>

    <div *ngFor="let card of cardData">
      <div
        class="category d-flex justify-content-center align-items-center row"
      >
        <div class="img-container col-xl-4 col-xs-12 d-flex mb-4">
          <figure class="img-wrapper">
            <img class="img-fluid" [src]="card.image" [alt]="card.imageTitle" />
            <figcaption class="overlay-text">
              {{ card.imageTitle.toUpperCase() }}
            </figcaption>
          </figure>
        </div>
        <div class="category-description col-xl-6 col-xs-12">
          <h3 class="card-title">{{ card.title.toUpperCase() }}</h3>
          <h4 class="card-description">{{ card.description }}</h4>
          <button class="btn btn-default mt-2" [routerLink]="['/', card.title]">
            Go {{ card.title.toLowerCase() }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
