@import "../../../assets/styles/variables.scss";

.home-content-wrapper {
  padding: 0 9rem;

  .hero-text-wrapper {
    margin: 6rem 0;

    h5 {
      text-align: center;
    }
  }

  .category-description {
    @include overlay-images;
    .category-title {
      color: #abd1c6;
    }

    &:not(last-child) {
      margin-bottom: 5rem;
    }

    button {
      @include button-outline;
    }
  }
}

h5 {
  line-height: 1.5;
}


