@import "../../../assets/styles/variables.scss";

.home-content-wrapper {
  padding: 0 10rem;

  @include respond(big-desktop) {
    padding: 0 15rem;
  }

  @include respond(tab-land) {
    padding: 0 3rem;
  }
  @include respond(phone) {
    padding: 0 1.5rem;
  }

  .hero-text-wrapper {
    margin: 4rem 0 6rem 0;

    .hero-text-description {
      text-align: center;
      font-size: 1.1rem;
      line-height: 1.5;
      max-width: 70%;

      @include respond(phone) {
        max-width: 100%;
      }
    }
  }

  .category {
    @include overlay-images;
    .card-title {
      color: $color-green-light;
      font-size: 1.25rem;
    }

    &-description {
      @include respond(laptop) {
        text-align: center;
      }
    }

    .card-description {
      font-size: 1rem;
      line-height: 1.7;
    }

    &:not(last-child) {
      margin-bottom: 5rem;
    }

    button {
      @include button-outline;
    }
  }
}
