<div class="editor-wrapper container-fluid mt-5">
  <div class="editor-content-wrapper d-flex row">
    <div class="editor-form-wrapper col">
      <form [formGroup]="gapfillTemplateForm">
        <div class="title-input-wrapper mb-4 form-inline flex-column align-items-start">
          <div class="form-inline mb-4">
            <p>Choose a title:</p>
            <input class="form-control form-control-sm ml-3" type="text" formControlName="title">
            <fa-icon class="icon-instructions" [icon]="faInstructions"
                     (click)="smartModalService.open('gapfill-instructions')"></fa-icon>
          </div>
          <div class="form-inline mb-5">
            <p>Choose an image:</p>
            <input class="form-control form-control-sm ml-3" type="text" formControlName="image">
          </div>
        </div>
        <div class="gapfills-wrapper" formArrayName="gapfills">
          <div class="form-group d-flex align-items-center " *ngFor="let gapfill of getGapfillControls(); let i = index"
               [formArrayName]="i">
            <p>{{i + 1}}</p>
            <div class="sentence-wrapper d-flex flex-column align-items-end"
                 *ngFor="let sentencePart of getSentenceControls(gapfill); let j = index" [formGroupName]="j">
              <label for="input-{{i}}{{j}}" class="badge badge-dark mb-0">{{toggleLabelName(gapfill, j)}}</label>
              <input id="input-{{i}}{{j}}" class="form-control form-control-sm ml-3 sentencePartInput" type="text"
                     [formControlName]="toggleControlName(gapfill, j)"
                     (keyup.enter)="delimitInput($event, gapfill, j)"
                     (keyup.control.enter)="toggleInputType(gapfill, j)">
            </div>
          </div>
          <button class="newSentenceBtn btn btn-dark mt-4" type="button" (click)="generateNewLine()">
            <fa-icon class="fa-plus mr-2" [icon]="faPlus"></fa-icon>
            New sentence
          </button>
        </div>
      </form>
      <div class="confirmation-btns-wrapper d-flex justify-content-end py-4">
        <button class="btn btn-outline-dark mr-3" type="button" (click)="onReset()">Reset</button>
        <button class="btn btn-outline-dark mr-3" type="button" (click)="openModal()">Preview</button>
        <button class="btn btn-dark" type="submit" (click)="onSubmit()"
                [routerLink]="['/pracice/', documentId]">Save
        </button>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #gapfillPreview identifier="gapfill-preview" class="gapfill-preview">
  <app-gapfill-content *ngIf="formPreview" [gapfillForm]="gapfillTemplateForm" [gapfillDoc]="formPreview"></app-gapfill-content>
</ngx-smart-modal>

<ngx-smart-modal #gapfillInstructions identifier="gapfill-instructions" class="gapfill-instructions">
  <app-instructions-gapfill></app-instructions-gapfill>
</ngx-smart-modal>

