@import "../../../../assets/styles/variables.scss";

.editor-wrapper {
  .instructions-wrapper {
    @include respond(tab-port) {
      flex-direction: column-reverse;
      row-gap: 2rem;
      align-items: flex-start !important;
    }
  }

  .gapfill-sentence-wrapper {
    column-gap: 1.5rem;
  }

  .badge {
    border-radius: 0;
    color: $color-offblack;
    opacity: 0.8;
  }

  input {
    @include input-light;
    // width: 20ch;
  }

  p,
  label {
    color: $color-offwhite;
    margin-bottom: 0;
    font-size: 0.9rem;
  }

  .icon-instructions {
    font-size: 1rem;
    color: $color-yellow;
    cursor: pointer;
  }

  .btn-navigator,
  .btn-reset,
  .btn-preview,
  .btn-sentence {
    @include button-outline;
  }

  .btn-save {
    @include button-default;
  }
}

.input-blank {
  border: solid 1px $color-offwhite !important;
}

.input-text {
  border-style: none none dotted none !important;
}
