@import "../../../../assets/styles/variables.scss";

.editor-wrapper {
  padding: 2rem 10rem;

  .badge {
    border-radius: 0;
    color: #001e1d;
    opacity: .8;
  }
  .sentencePartInput {
    width: 5ch;
  }

  input {
   @include input-light;
  }

  h6 {
    color: #abd1c6;
    margin-bottom: 0;
  }

  .icon-instructions {
    font-size: 1.75rem;
    color: #f9bc60;
    cursor: pointer;
  }

  .btn-reset, .btn-preview, , .btn-sentence {
    @include button-outline;
  }

  .btn-save {
    @include button-default;
  }

}

