@import "../../../../../assets/styles/variables.scss";

.instructions-gapfill-wrapper {
  h6 {
    color: $color-offblack;
    // line-height: 1.5;
  }

  h4 {
    color: $color-offblack;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
}
