@import "../../../../../assets/styles/variables.scss";

.instructions-gapfill-wrapper {
  p {
    color: $color-offblack;
    font-size: 0.9rem;
  }

  h1 {
    color: $color-offblack;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
  }
}
