<div class="instructions-gapfill-wrapper container">
  <h1>How to create an exercise?</h1>
  <p>
    Choose the title and its translation in Slovenian along with a clever/cute
    image as a thumbnail.
    <br />
    Each line of blanks represents a sentence, new sentences are added via the
    'New sentence' button.
    <br />
    Blanks marked as B will remain... well, blanks. The rest of them will be
    changed into plain text, marked as T.
    <br />
    By pressing 'enter' you generate a new blank in the same sentence which will
    be marked the opposite of the current one.
    <br />
    You can change the value of the blank from let's say T into B by pressing
    'ctr' + 'enter'.
    <br />
    If in doubt or confused, click on the preview button at the bottom of the
    page to see how it will turn out.
    <br />
    Enjoy!
  </p>
</div>
