<div class="instructions-gapfill-wrapper container">
  <h4>How to create an exercise?</h4>
  <h6>Choose the title and its translation in Slovenian along with a clever/cute image as a thumbnail.</h6>
  <h6>Each line of blanks represents a sentence, new sentences are added via the 'New sentence' button.</h6>
  <h6>Blanks marked as B will remain... well, blanks. The rest of them will be changed into plain text, marked as T.</h6>
  <h6>By pressing 'enter' you generate a new blank in the same sentence which will be marked the opposite of the current
    one.</h6>
  <h6>You can change the value of the blank from let's say T into B by pressing 'ctr' + 'enter'</h6>
  <h6>If in doubt or confused, click on the preview button at the bottom of the page to see how it will turn out.</h6>
  <h6>Enjoy!</h6>
</div>
