<div class="d-flex h-100">
  <div class="container-fluid vocab-content-wrapper pt-4">

    <div class="vocab-home-cards-wrapper my-4">
      <div class="row justify-content-start">
        <div class="img-container col mb-4" *ngFor="let category of vocabCategory; let i = index">
          <img class="image" [src]="category.thumbImage" [alt]="category.categoryEng" [id]="category.slug"
               [routerLink]="['/vocabulary/', category.slug]">
          <div class="category-name">
            <h5 class="overlay-text">{{category.categoryEng.toUpperCase()}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





