@import "../../../../assets/styles/variables.scss";

.vocab-lesson-wrapper {
  padding: 1rem 9rem;

  .badge-wrapper {
    button {
      @include button-outline;
    }

    h4 {
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #abd1c6;
      margin-bottom: 0;
      border: solid 1px;
      padding: .5rem;
    }
  }

  .vocab-lesson-content {

    .img-container {
      position: relative;
      width: 100%;

      img {
        opacity: 1;
        display: block;
        transition: 200ms ease-in-out;
        max-height: 12rem;
        width: auto;
      }

      .overlay-text {
        transition: 500ms;
        opacity: 0;
        position: absolute;
        top: 69%;
        left: 0;
        text-align: left;
        cursor: none;
      }

      &:hover {
        img {
          opacity: .8;
          cursor: pointer;
          transition: 500ms;
        }

        .overlay-text {
          opacity: 1;
          transition: 500ms;
          cursor: pointer;
          background-color: #abd1c6;
          color: #001e1d;
          padding: .5rem;
        }
      }
    }

    .vocab-img {
      width: 20rem;
      height: auto;
    }

    .vocab-img-text {
      color: #abd1c6;
    }

    table {
      //width: 70%;
      //min-width: 70%;

      th, td {
        border-top: none;
        width: 13rem;
        color: #fffffe;
      }

      thead {
        th {
          border-bottom: 1px solid rgba(255, 255, 254, .3);
          color: #abd1c6;
          font-weight: 500;
        }
      }

      tbody {
        th {
          color: #abd1c6;
          font-weight: 500;
        }
      }
    }

  }
}
