<div class="vocab-lesson-wrapper container-fluid">
  <div class="badge-wrapper d-flex justify-content-between align-items-center mb-2 mt-4">
    <h4>{{lessonsByCategory[0]?.categoryEng}}</h4>
    <button class="btn btn-outline-light" [routerLink]="['/vocabulary']">
      <fa-icon [icon]="faLongArrow"></fa-icon>
      Back to the list
    </button>
  </div>

  <div class="vocab-lesson-content">
    <div class="row mb-5" *ngFor="let item of lessonsByCategory; let i = index">
      <div class="col-lg-4 col-xs-12 d-flex flex-column align-items-center justify-content-center">
        <div class="img-container">
          <img class="vocab-img img-fluid mt-5" [src]="item.image" [alt]="item.headwordEng">
          <div class="image-name">
            <p class="overlay-text mt-4 mb-0 ">{{item.headwordEng.toUpperCase()}}</p>
          </div>
        </div>
        <p class="vocab-img-text align-self-start my-4 mb-0">{{item.headwordSlo.toUpperCase()}}</p>

      </div>
      <div class="col-lg-8 col-xs-12">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Case</th>
            <th scope="col">Singular</th>
            <th scope="col">Dual</th>
            <th scope="col">Plural</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Nominative</th>
            <td>{{item.declensionTable.declensionNominative.nom1}}</td>
            <td>{{item.declensionTable.declensionNominative.nom2}}</td>
            <td>{{item.declensionTable.declensionNominative.nom3}}</td>
          </tr>
          <tr>
            <th scope="row">Genitive</th>
            <td>{{item.declensionTable.declensionGenitive.gen1}}</td>
            <td>{{item.declensionTable.declensionGenitive.gen2}}</td>
            <td>{{item.declensionTable.declensionGenitive.gen3}}</td>
          </tr>
          <tr>
            <th scope="row">Dative</th>
            <td>{{item.declensionTable.declensionDative.dat1}}</td>
            <td>{{item.declensionTable.declensionDative.dat2}}</td>
            <td>{{item.declensionTable.declensionDative.dat3}}</td>
          </tr>
          <tr>
            <th scope="row">Accusativ</th>
            <td>{{item.declensionTable.declensionAccusative.acc1}}</td>
            <td>{{item.declensionTable.declensionAccusative.acc2}}</td>
            <td>{{item.declensionTable.declensionAccusative.acc3}}</td>
          </tr>
          <tr>
            <th scope="row">Locative</th>
            <td>{{item.declensionTable.declensionLocative.loc1}}</td>
            <td>{{item.declensionTable.declensionLocative.loc2}}</td>
            <td>{{item.declensionTable.declensionLocative.loc3}}</td>
          </tr>
          <tr>
            <th scope="row">Instrumental</th>
            <td>{{item.declensionTable.declensionInstrumental.inst1}}</td>
            <td>{{item.declensionTable.declensionInstrumental.inst2}}</td>
            <td>{{item.declensionTable.declensionInstrumental.inst3}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
