@import "../../../../assets/styles/variables.scss";

.vocab-lesson-wrapper {
  padding: 1rem 10rem;

  @include respond(big-desktop) {
    padding: 1rem 15rem;
  }

  @include respond(tab-land) {
    padding: 1rem 3rem;
  }
  @include respond(phone) {
    padding: 1rem;
  }

  .badge-wrapper {
    flex-wrap: wrap;
    row-gap: 1rem;

    .btn-outline-light {
      @include button-outline;
    }

    .badge-title {
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $color-green-light;
      margin-bottom: 0;
      border: solid 1px;
      padding: 0.5rem;
      font-size: 1.5rem;

      @include respond(phone) {
        margin-bottom: 1rem;
      }
    }
  }
}

.vocab-lesson-content {
  @include overlay-images;

  .img {
    max-width: 100%;
    height: auto;
    min-width: 18rem;
  }

  .vocab-img-text {
    color: $color-green-light;
  }

  table {
    th,
    td {
      border-top: none;
      width: 13rem;
      color: $color-offwhite;
      font-size: 0.75rem;
    }

    thead {
      th {
        border-bottom: 1px solid rgba(255, 255, 254, 0.3);
        color: $color-green-light;
        font-weight: 500;
      }
      #table-case {
        @include respond(phone) {
          display: none;
        }
      }
    }

    tbody {
      th {
        color: $color-green-light;
        font-weight: 500;

        @include respond(phone) {
          display: none;
        }
      }
    }
  }
}
