@import "../../../assets/styles/variables.scss";

.editor-content-wrapper {
  padding: 3rem 10rem;
  height: $wrapper-height;

  @include respond(big-desktop) {
    padding: 3rem 15rem;
  }

  @include respond(tab-land) {
    padding: 3rem;
  }
  @include respond(phone) {
    padding: 3rem;
  }

  .template-choice-wrapper {
    border-block-start-width: initial;
    width: auto;

    .nav-link:hover {
      cursor: pointer;
    }

    button:not(:disabled) {
      color: $color-offblack;

      &:hover {
        background-color: $color-green-light;
        cursor: pointer;
      }
    }
  }
}

.nav-tabs {
  border: none;
}
