<div class="editor-wrapper">
  <div class="form-wrapper">
    <form [formGroup]="grammarEditorForm">
      <div class="form-content-wrapper" [formGroup]="grammarEditorForm">
        <div class="form-group form-inline d-flex justify-content-between">
          <div class="input-wrapper-1 d-flex flex-wrap">
            <label for="grammarTitleSlo" class="mr-4">Slovenian title</label>
            <input
              type="text"
              class="form-control"
              id="grammarTitleSlo"
              name="grammarTitleSlo"
              formControlName="grammarTitleSlo"
            />
          </div>
          <button
            class="btn-navigator btn btn-outline-light"
            type="button"
            [routerLink]="['/editor']"
          >
            <fa-icon [icon]="faLongArrow"></fa-icon> Back to the list
          </button>
        </div>
        <div class="form-group form-inline d-flex mb-5">
          <label for="grammarTitleEng" class="mr-4">English title</label>
          <input
            type="text"
            class="form-control"
            id="grammarTitleEng"
            name="grammarTitleEng"
            formControlName="grammarTitleEng"
          />
        </div>
        <div class="rich-text-wrapper h-100">
          <quill-editor
            formControlName="grammarRichText"
            placeholder="Start typing here"
            [styles]="editorStyles"
            [modules]="config"
          ></quill-editor>
        </div>
      </div>
    </form>

    <div class="confirmation-btns-wrapper d-flex justify-content-end py-4">
      <button
        class="btn-reset btn btn-outline-light mr-3"
        type="button"
        (click)="onReset()"
      >
        Reset
      </button>
      <button class="btn-save btn btn-light" type="submit" (click)="onSubmit()">
        Save
      </button>
    </div>
  </div>
</div>
