.form-content-wrapper {
  .form-control {
    border: #333 2px;
    border-style: none none solid none;
    border-radius: 0;
    background-color: transparent;
    //color: rgba(51, 51, 51, .3);
    color: #333;

    &::placeholder {
      color: rgba(51, 51, 51, .4);
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
