@import "../../../../assets/styles/variables.scss";

.form-content-wrapper {
  .form-group:first-of-type {
    @include respond(tab-port) {
      flex-direction: column-reverse;
      row-gap: 2rem;
      align-items: flex-start;
    }
  }
  .form-control {
    @include input-light;
  }
}

.btn-navigator {
  @include button-outline;
}

.confirmation-btns-wrapper {
  .btn-reset {
    @include button-outline;
  }

  .btn-save {
    @include button-default;
  }
}
