.auth-container {
  background-image: url("../../../assets/images/lake-login.jpg");
  background-size: cover;
  background-position: center;

  .auth-panel-wrapper {
    min-width: 26rem;
    background-color: white;
    padding: 2rem 4rem 2rem;
    opacity: .9;

    .toggle-auth-wrapper {
      .btn-link {
        font-size: 1.25rem;
        color: #004643;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

