@import "../../../../assets/styles/variables.scss";

.gapfil-wrapper {
  padding: 2rem 10rem;

  .badge-wrapper {
    h4 {
      color: #abd1c6;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    button {
      @include button-outline;
    }
  }

}




