@import "../../../../assets/styles/variables.scss";

.editor-wrapper {
  padding: 2rem 10rem;

  .form-wrapper {
    .form-control {
      @include input-light;
    }

    form {
      .editor-img-text-wrapper {
        .btn-navigator {
          @include button-outline;
        }

        .category-selector-wrapper {
          ng-select {
            border: #fffffe 1px;
            border-style: none none solid none;
            border-radius: 0;
            background-color: transparent !important;
            width: 225px;
          }

          .fa-plus {
            font-size: 2.25rem;
            color: #fffffe;
            cursor: pointer;

            &:hover {
              color: #abd1c6;
            }
          }
        }
      }
    }

    .editor-table-wrapper {
      table {
        th, td {
          border-top: none;
          width: 13rem;
          font-weight: 500;
        }

        th {
          vertical-align: middle;
        }

        thead {
          th {
            border-bottom: 1px solid rgba(255, 255, 254, .3);
            color: #abd1c6;
          }
        }

        tbody {
          th {
            color: #abd1c6;
          }
        }
      }
    }

    .confirmation-btns-wrapper {
      .btn-reset {
        @include button-outline;
      }

      .btn-save {
        @include button-default;
      }
    }
  }
}

