@import "../../../../assets/styles/variables.scss";

.editor-wrapper {
  padding: 2rem 10rem;

  height: $wrapper-height;

  @include respond(big-desktop) {
    padding: 3rem 15rem;
  }

  @include respond(tab-land) {
    padding: 3rem;
  }
  @include respond(phone) {
    padding: 1.5rem;
  }

  .form-wrapper {
    font-size: 0.9rem;
    letter-spacing: 1px;
    .form-control {
      @include input-light;
    }

    form {
      .editor-img-text-wrapper {
        .btn-navigator {
          @include button-outline;
        }

        .category-selector-wrapper {
          ng-select {
            border: $color-offwhite 1px;
            border-style: none none solid none;
            border-radius: 0;
            background-color: transparent !important;
            width: 225px;
          }

          .fa-plus {
            font-size: 1.5rem;
            color: $color-offwhite;
            opacity: 0.7;
            cursor: pointer;

            &:hover {
              color: $color-green-light;
            }
          }
        }
      }
    }

    .editor-table-wrapper {
      table {
        th,
        td {
          border-top: none;
          width: 13rem;
          font-weight: 500;
        }

        th {
          vertical-align: middle;
        }

        thead {
          th {
            border-bottom: 1px solid rgba(255, 255, 254, 0.3);
            color: $color-green-light;
          }
        }

        tbody {
          th {
            color: $color-green-light;
          }
        }
      }
    }

    .confirmation-btns-wrapper {
      .btn-reset {
        @include button-outline;
      }

      .btn-save {
        @include button-default;
      }
    }
  }
}
