@import "../../../../assets/styles/variables.scss";

.editor-wrapper {
  .form-wrapper {
    font-size: 0.9rem;
    letter-spacing: 1px;
    .form-control {
      @include input-light;
      max-width: fit-content;
    }

    form {
      .editor-img-text-wrapper {
        .form-group:first-of-type {
          @include respond(tab-port) {
            flex-direction: column-reverse;
            row-gap: 2rem;
            align-items: flex-start;
          }
        }
        .btn-navigator {
          @include button-outline;
        }

        .category-selector-wrapper {
          ng-select {
            border: $color-offwhite 1px;
            border-style: none none solid none;
            border-radius: 0;
            background-color: transparent !important;
            width: 225px;
          }

          .fa-plus {
            font-size: 1.5rem;
            color: $color-offwhite;
            opacity: 0.7;
            cursor: pointer;

            &:hover {
              color: $color-green-light;
            }
          }
        }
      }
    }

    .editor-table-wrapper {
      table {
        th,
        td {
          border-top: none;
          width: 13rem;
          font-weight: 500;
        }

        th {
          vertical-align: middle;
        }

        #table-case {
          @include respond(phone) {
            display: none;
          }
        }

        thead {
          th {
            border-bottom: 1px solid rgba(255, 255, 254, 0.3);
            color: $color-green-light;
          }
        }

        tbody {
          th {
            color: $color-green-light;

            @include respond(phone) {
              display: none;
            }
          }
        }
      }
    }

    .confirmation-btns-wrapper {
      .btn-reset {
        @include button-outline;
      }

      .btn-save {
        @include button-default;
      }
    }
  }
}
