@import "~bootstrap/scss/bootstrap";
@import "assets/styles/modal-vocab-category.scss";
@import "assets/styles/modal-gapfill-instructions-preview";
@import "assets/styles/ng-select.scss";
@import "assets/styles/text-editor.scss";
@import "assets/styles/variables.scss";
@import "~ngx-smart-modal/ngx-smart-modal";

@import "~@ng-select/ng-select/themes/default.theme.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: $gradient-bg;
  font-family: "Montserrat", monospace;
  color: $color-offwhite;
}

h1 {
  font-family: "Montserrat", monospace;
  font-size: 3.2rem;
  color: $color-offwhite;
}

p {
  color: $color-offwhite;
}

.grammar-content-wrapper {
  .card-text {
    p {
      color: $color-offblack;
    }
  }
}

a,
.nav-link,
.navbar-brand {
  color: $color-offwhite;

  &:hover,
  :focus {
    outline: 0;
    color: $color-green-light;

    .footer-text {
      color: $color-green-light;
    }
  }
}

.editor-wrapper {
  padding: 2rem 10rem;
  height: $wrapper-height;

  @include respond(big-desktop) {
    padding: 3rem 15rem;
  }

  @include respond(tab-land) {
    padding: 3rem;
  }
  @include respond(phone) {
    padding: 1.5rem;
  }
}

.input-wrapper-1 {
  @include respond(tab-port) {
    width: 100%;
  }
}
