//@import "assets/styles/error-messages.scss";
@import "assets/styles/modal-vocab-category.scss";
@import "assets/styles/modal-gapfill-instructions-preview";
@import "assets/styles/ng-select.scss";
@import "assets/styles/text-editor.scss";
@import "assets/styles/variables.scss";
@import "~ngx-smart-modal/ngx-smart-modal";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~bootstrap/scss/bootstrap';

body, html {
  margin: 0;
  outline: 0;
  height: 100%;
  font: normal 15px 'Montserrat';
  color: #fffffe;
  background-color: #004643;
  display: flex;
  flex-direction: column;
}

h1 {
  font: bold 32px 'Montserrat';
  color: #fffffe;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
  color: #fffffe;
}

a, .nav-link, .navbar-brand {
  color: #fffffe;

  &:hover, :focus {
    outline: 0;
    color: #abd1c6;
  }
}
