.instructions-gapfill {
  .nsm-dialog {
    max-width: unset;
    justify-content: center;

    .nsm-content {
      padding: 3rem 2rem;
      border-radius: 0;
    }
  }
}


.preview-gapfill {
  justify-content: center;

  .nsm-dialog {
    max-width: unset;
    display: flex;
    justify-content: center;
    width: 91%;

    .nsm-content {
      width: 100%;
      padding: 3rem 2rem;
      background-color: #004643;

      .nsm-dialog-btn-close {
        color: #fffffe;
        font-size: 2rem;
        margin-right: .5rem;
      }
    }
  }

}
