.instructions-gapfill {
  .nsm-dialog {
    max-width: unset;
    justify-content: center;

    .nsm-content {
      padding: 3rem 2rem;
      border-radius: 0;

      @include respond(phone) {
        padding: 2rem 0;
        margin: 0;
        height: 100vh;
      }
    }
  }
}

.preview-gapfill {
  justify-content: center;

  .nsm-dialog {
    max-width: 100%;
    padding: 0 10rem;

    @include respond(big-desktop) {
      padding: 0 15rem;
    }

    @include respond(tab-land) {
      padding: 0 3rem;
    }
    @include respond(phone) {
      padding: 0;
    }

    .nsm-content {
      width: 100%;
      padding: 3rem 2rem;
      background: $gradient-bg;
      margin: 0;
      border-radius: 0;
      @include respond(phone) {
        padding: 3rem 1.5rem;
        margin: 0;
        height: 100vh;
      }

      .nsm-dialog-btn-close {
        color: $color-offwhite;
        font-size: 2rem;
        margin-right: 1.5rem;
        margin-top: 1.5rem;
      }
    }
  }
}
