@import "../../assets/styles/variables.scss";

.add-category {
  .nsm-dialog {
    max-width: unset;
    justify-content: center;

    .nsm-body {
      padding: 1.5rem 1.5rem 0 1.5rem;
    }

    .nsm-content {
      padding: 2rem 1rem;
      border-radius: 0;
    }
  }

  .add-category-title {
    padding-left: 0.4rem;
    font-size: 1.5rem;
    color: $color-offblack;
    margin-bottom: 0;
  }

  .form-wrapper {
    margin-top: 2rem;
    .add-category-content-wrapper {
      font-size: 0.9rem;
      label {
        color: $color-offblack;
      }
      .form-control {
        @include input-dark;
        font-size: 0.9rem;
      }
    }
    .confirmation-btns-wrapper {
      .btn-reset {
        @include button-outline;
      }

      .btn-save {
        @include button-default;
      }
    }
  }
}

.nsm-dialog-btn-close {
  margin-top: 1.25rem;
  margin-right: 1.25rem;
}
