.ng-input {
  font-size: 0.9rem;
}

.ng-select {
  &:focus {
    outline: none;
  }

  .ng-select-container {
    color: $color-offwhite;
    background-color: transparent;
    align-items: center;
    border: 0;
    border-radius: 0;
    box-shadow: none;

    .ng-arrow {
      border-color: $color-green-light transparent transparent;
    }

    .ng-value-container {
      &:focus {
        outline: none;
      }

      .ng-placeholder {
        color: $color-green-light;
        font-size: 0.8rem;
      }
    }
  }

  .ng-clear-wrapper {
    color: $color-green-light !important;
  }

  .ng-dropdown-panel {
    border-radius: 0;
    font-size: 0.8rem;

    .ng-option {
      color: $color-offblack;
    }

    .ng-option-marked {
      background-color: $color-green-light !important;
      color: $color-offblack;
    }
  }
}
