.rich-text-wrapper {
  quill-editor {
    .ql-toolbar {
      padding: .5rem;
      background-color: #abd1c6;
      border: 1px solid white;
      font: 100 1rem/17px Montserrat, sans-serif;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);

      &:focus {
        outline: none;
      }

      .ql-stroke {
        fill: none;
        stroke: #001e1d;
      }

      .ql-fill {
        fill: #001e1d;
        stroke: none;
      }

      .ql-picker {
        color: #001e1d;
      }
    }

    .ql-editor {
      background-color: transparent;
      border: solid 1px white;
      opacity: .9;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
      letter-spacing: 1px;
      width: 100%;

      &::before {
        color: #abd1c6 !important;
      }
    }
  }
}

.ql-container {
  display: flex;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}



.quill-view-html.ql-editor {
  max-width: 60%;
}


