.rich-text-wrapper {
  quill-editor {
    .ql-toolbar {
      padding: 0.5rem;
      background-color: $color-green-light;
      border: 1px solid #fff;
      font: 100 1rem/17px "Montserrat", sans-serif;
      box-shadow: $box-shadow;

      &:focus {
        outline: none;
      }

      .ql-stroke {
        fill: none;
        stroke: $color-offblack;
      }

      .ql-fill {
        fill: $color-offblack;
        stroke: none;
      }

      .ql-picker {
        color: $color-offblack;
      }
    }

    .ql-editor {
      background-color: transparent;
      border: solid 1px white;
      opacity: 0.9;
      box-shadow: $box-shadow;
      letter-spacing: 1px;
      width: 100%;

      &::before {
        color: $color-green-light !important;
      }
    }
  }
}

.ql-container {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}

.quill-view-html.ql-editor {
  max-width: 60%;
}
