@mixin button-outline {
  background-color: transparent;
  color: #f9bc60;
  border: 1px solid #f9bc60;
  border-radius: 0;

  &:hover {
    text-decoration: none;
    background-color: #f9bc60 !important;
    color: #001e1d !important;
    font-weight: 600;
  }
}

@mixin button-default {
  text-decoration: none;
  background-color: #f9bc60;
  color: #001e1d;
  font-weight: 600;
  border-radius: 0;
  border: solid 3px transparent;

  &:hover {
    background-color: transparent;
    color: #f9bc60 !important;
    border: 3px solid #f9bc60 !important;
  }
}
