@mixin button-outline {
  background-color: transparent;
  color: #f9bc60;
  border: 1px solid #f9bc60;
  border-radius: 0;

  &:hover {
    text-decoration: none;
    background-color: #f9bc60 !important;
    color: #001e1d !important;
    font-weight: 600;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

@mixin button-default {
  text-decoration: none;
  background-color: #f9bc60;
  color: #001e1d;
  font-weight: 600;
  border-radius: 0;
  border: solid 3px transparent;

  &:hover {
    background-color: transparent;
    color: #f9bc60 !important;
    border: 3px solid #f9bc60 !important;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

@mixin input-light {
  border: #fffffe 1px;
  border-style: none none solid none;
  border-radius: 0;
  background-color: transparent;
  color: #fffffe;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

@mixin input-dark {
  border: #001e1d 1px;
  border-style: none none solid none;
  border-radius: 0;
  background-color: transparent;
  color: #001e1d;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &::placeholder {
    color: #001e1d;
    font-size: .9rem;
    opacity: .6;
  }
}
