@import "../../../assets/styles/variables.scss";

.grammar-content-wrapper {
  padding: 3rem 10rem;
  height: $wrapper-height;

  @include respond(big-desktop) {
    padding: 3rem 15rem;
  }

  @include respond(tab-land) {
    padding: 3rem;
  }
  @include respond(phone) {
    padding: 1.5rem;
  }

  .card {
    border: 0;
    border-radius: 0;
    max-width: 30rem;
    min-width: 17rem;
    max-height: 16rem;
    overflow: hidden;
    box-shadow: $box-shadow-fancy;
    transition: all linear 0.2s;
    cursor: pointer;

    &:hover {
      max-height: 20rem;
    }

    .card-header {
      h4 {
        font-size: 1.25rem;
      }

      &:first-child {
        border: 0;
        border-radius: 0;
        background-color: $color-offblack;
        color: $color-green-light;
      }
    }

    .card-body {
      background-color: $color-green-light;
    }
  }

  .card-text {
    font-size: 0.9rem;

    p {
      color: $color-yellow !important;
    }
  }
}
