@import "../../../assets/styles/variables.scss";

.grammar-content-wrapper {
  margin: 4rem 9rem 0 9rem;

  .card {
    position: relative;
    border-radius: 0;
    border: 0;
    width: 30rem;
    box-shadow: $box-shadow-fancy;

    fa-icon {
      opacity: 0;
      position: absolute;
      top: 3%;
      left: 28px;
      font-size: 2rem;
      color: $color-yellow;
    }

    &:hover {
      cursor: pointer;

      fa-icon {
        opacity: 1;
        bottom: 94%;
        left: 33px;
      }
    }

    .card-header {
      h4 {
        font-weight: 600;
      }

      &:first-child {
        background-color: $color-offblack;
        color: $color-green-light;
        border-radius: 0;
        border: 1px solid;
      }
    }

    .card-body {
      background-color: $color-green-light;
    }
  }

  .card-text {
    max-height: 9rem;
    overflow: hidden;

    p {
      color: $color-yellow !important;
    }
  }
}
