<div class="container-fluid grammar-content-wrapper d-flex">
  <div class="grammar-home-cards-wrapper my-4">
    <div class="row">
      <div
        class="img-container col mb-4 justify-content-center"
        *ngFor="let gram of grammarCollection; let i = index"
      >
        <div
          class="card bg-light mb-3"
          [routerLink]="['/grammar/', gram.docId]"
        >
          <div class="card-header d-flex justify-content-center">
            <h4 class="mb-0">{{ gram.grammarTitleEng.toUpperCase() }}</h4>
          </div>
          <div class="card-body">
            <p
              class="card-text"
              [innerHTML]="gram.grammarRichText"
              #cardText
            ></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
