.grammar-lesson-wrapper {
  padding: 2rem 11rem;

  .badge-wrapper {
    h4 {
      margin-left: 10rem;
      margin-bottom: 0;
    }
  }

  .grammar-lesson-content {
    font-family: 'Montserrat', sans-serif;
  }
}
