<div class="grammar-lesson-wrapper container-fluid" *ngIf="isReady">
  <div class="badge-wrapper d-flex justify-content-center align-items-center mb-2 mt-4">
     <h4>{{grammarLesson.grammarTitleEng.toUpperCase()}}</h4>
    <button class="btn btn-outline-dark" [routerLink]="['/grammar']">
      <fa-icon [icon]="faLongArrow"></fa-icon>
      Back to the list
    </button>
  </div>

  <div class="grammar-lesson-content">
    <quill-view-html [content]="grammarLesson.grammarRichText"></quill-view-html>
  </div>
</div>
