@import "../../../../assets/styles/variables.scss";

.grammar-lesson-wrapper {
  padding: 2rem 10rem;

  .badge-wrapper {
    padding-left: 15px;

    h4 {
      text-align: center;
      margin-bottom: 0;
      color: #abd1c6;
    }

    button {
      @include button-outline;
      position: absolute;
      right: 11rem;
    }
  }

  .grammar-lesson-content {
    font-family: 'Montserrat', sans-serif;
    color: #fffffe;
  }
}
